# Learn how to configure Hyprland: https://wiki.hyprland.org/Configuring/

###################
### MONITORS ###
###################


###################
### MY PROGRAMS ###
###################


#################
### AUTOSTART ###
#################


#############################
### ENVIRONMENT VARIABLES ###
#############################


###################
### PERMISSIONS ###
###################


#####################
### LOOK AND FEEL ###
#####################


#############
### INPUT ###
#############


###################
### KEYBINDINGS ###
###################


##############################
### WINDOWS AND WORKSPACES ###
##############################


#####################
### USER CONFIG ###
#####################
