* {
    font-family: 'CaskaydiaCove Nerd Font', sans-serif;
    font-size: 14px;
    padding: 1px 5px 1px 5px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
    border-radius: 0px;
}

#workspaces button {
    color: #ffffff;
    padding: 0px 5px 0px;
    margin: 0px 2px 0px;
}

#workspaces button.active {
    background-color: #64727D;
    border-radius: 5px;
}

#network {
    padding: 0px 10px 0px;
}

#battery {
    padding: 0px 10px 0px;
}
